apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
  - name: cilium
    namespace: kube-system
    releaseName: cilium
    version: 1.16.0
    repo: https://helm.cilium.io
    includeCRDs: true
    valuesInline:
      l2announcements:
        enabled: true
      securityContext:
        capabilities:
          ciliumAgent:
            [
              "CHOWN",
              "KILL",
              "NET_ADMIN",
              "NET_RAW",
              "IPC_LOCK",
              "SYS_ADMIN",
              "SYS_RESOURCE",
              "DAC_OVERRIDE",
              "FOWNER",
              "SETGID",
              "SETUID",
            ]
          cleanCiliumState: ["NET_ADMIN", "SYS_ADMIN", "SYS_RESOURCE"]
      cgroup:
        autoMount:
          enabled: false
        hostRoot: /sys/fs/cgroup
      autoDirectNodeRoutes: true
      localRedirectPolicy: true
      bpf:
        masquerade: true
      bgpControlPlane:
        enabled: true
      endpointRoutes:
        enabled: true
      #hubble:
      #  enabled: true
      #  relay:
      #    enabled: true
      #  ui:
      #    enabled: true
      #  metrics:
      #    enabled:
      #      - dns:query;ignoreAAAA
      #      - drop
      #      - tcp
      #      - flow
      #      - port-distribution
      #      - icmp
      #      - httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction
      #    serviceMonitor:
      #      enabled: false
      ingressController:
        enabled: false
      ipam:
        mode: cluster-pool
        operator:
          clusterPoolIPv4PodCIDRList:
            - 10.10.0.0/18
          clusterPoolIPv4MaskSize: 24
      ipv4NativeRoutingCIDR: 10.10.10.0/18 # Should be set to the pod cidr
      ipv6:
        enabled: false
      k8sServiceHost: 172.30.0.3
      k8sServicePort: 6443
      kubeProxyReplacement: true
      l7Proxy: true
      loadBalancer:
        mode: snat
        algorithm: maglev
      nodePort:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: false
          trustCRDsExist: true
      operator:
        prometheus:
          serviceMonitor:
            enabled: false
      routingMode: native

resources:
  #- l2-announcement.yaml
- lb-pool.yaml
- cilium-bgp.yaml
