apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/managed-by: kustomize

namespace: envoy-gateway-system

helmCharts:
  - name: gateway-helm
    namespace: envoy-gateway-system
    repo: oci://docker.io/envoyproxy
    version: v1.5.0
    includeCRDs: true
    valuesInline:
      fullnameOverride: envoy-gateway
      createNamespace: true
      config:
        envoyGateway:
          extensionApis:
            enableEnvoyPatchPolicy: true
            enableBackend: true

resources:
  - lab-gwc.yaml
  - lab-egc.yaml
  - lab-gw.yaml
